.contentTitle {
  font-size: var(--font-sm);
  text-transform: uppercase;
  color: var(--emphasis);
  font-weight: 600;
  margin-bottom: 9px;
}

.contentWrapper {
  background-color: var(--background-variation);
  border-radius: 9px;
  padding: 20px 24px; 
  margin-bottom: 20px;
} 

.contentParagraph {
  font-family: var(--font-text);
  font-size: var(--font-sm);
  margin-bottom: 16px; 
  text-align: justify;
  font-weight: 300;
}

.contentListItem {
  font-family: var(--font-text);
  font-size: var(--font-sm);
  font-weight: 300;
  list-style: disc inside;
}
