.container {
  flex: none; /* previne de dar o grow (só o content da grow) */
  z-index: 40;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 18px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  view-transition-name: "page";
}
