.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.title {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: calc(1.75 / 1.25);
}
