.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
}

.descriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 2.250rem;
}

.title {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  font-family: var(--font-title);
  text-align: start;
  font-weight: 600;
}

.subtitle {
  font-size: 0.875rem;
  line-height: calc(2 / 1.5);
  font-family: var(--font-text);
  color: var(--foreground-variation);
  text-align: start;
}
