.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
}

.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 52px;
  margin-bottom: 52px;
}

.title {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  font-family: var(--font-rounded);
  color: var(--emphasis);
}
