@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-variation: #f5f5f5;
  --foreground: #000000;
  --foreground-variation: #828889;
  --emphasis: #00cc77;
  --divider: #00000015;
  --footer-link-active: #00cc77;
  --footer-link-inactive: #7d93a4;
  --error: #e7432b;
}

/* esse inline é para usar no tailwind */
@theme inline {
  --color-background: var(--background);
  --color-background-variation: var(--background-variation);
  --color-foreground: var(--foreground);
  --color-foreground-variation: var(--foreground-variation);
  --color-emphasis: var(--emphasis);
  --font-title: var(--font-title);
  --font-text: var(--font-text);
  --font-rounded: var(--font-rounded);
  --font-input: var(--font-input);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --background-variation: #222224;
    --foreground: #ffffff;
    --foreground-variation: #828889;
    --emphasis: #00ff99;
    --divider: #ffffff15;
    --footer-link-active: #ffffff;
    --footer-link-inactive: #828889;
    --error: #f1543c;
  }
}

/* here we customize the transition, these are the shared styles for the old and new view*/

::view-transition-new(.handle),
::view-transition-old(.handle) {
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-direction: normal;
}

/* old view slides out to the left */
::view-transition-old(.handle) {
  animation-name: slide-out;
  animation-duration: 200ms;
}

/* new view slides in from the right */
::view-transition-new(.handle) {
  animation-name: slide-in;
  mix-blend-mode: normal;
}


@keyframes slide-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-out-reverse {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
