.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.content {
  position: relative;
}

.textContainer {
  width: 165px;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -40px;
  font-family: var(--font-rounded);
  color: var(--color-emphasis);
  font-size: 2rem;
  font-weight: bold;
  height: 2rem;
}