.container {
  width: 100%;
}

.forgetPasswordContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.forgetPassword {
  letter-spacing: 0.5px ;
  width: fit-content;
}