.btn-shadow {
  font-family: var(--font-rounded);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--emphasis);
  color: var(--background);
  border-radius: 5rem;
  padding: 0.5rem 0.5rem 0.563rem;
  box-shadow: inset 0 -3px 0px 1px rgba(0, 0, 0, 0.35);
  transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease, background-color 200ms ease;

  &.disabled {
    background-color: color-mix(in srgb, var(--emphasis) 85%, #000);
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &.filter {
    width: 216px;
    height: 48px;
    align-self: center;
  }
}

.btn-switch {
  font-family: var(--font-title);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 12px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  background-color: var(--background-variation);
  color: var(--emphasis);
  border: 1px solid var(--emphasis);
  border-radius: 5rem;
  padding: 0.5rem 0.5rem 0.563rem;
  transition: transform 200ms ease, box-shadow 200ms ease, filter 200ms ease, background-color 200ms ease;

  &.active {
    background-color: var(--emphasis);
    color: var(--background);
  }
}

.btn-filter {
  width: 30%;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-variation);
  border-radius: 8px;
  gap: 5px;

  &.big {
    width: 45%;
    height: 136px;
    gap: 28px;
  }

  .label {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-shadow {
    &.disabled {
      background-color: color-mix(in srgb, var(--emphasis) 75%, #000);
    }
  }
}
