.estudante-statistics-wrapper {
  .title {
    font-size: var(--font-lg);
    line-height: 1.25;
    font-family: var(--font-rounded);
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }

  .card {
    width: 100%;
    height: 286px;
    background-color: var(--background-variation);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;

    .side {
      width: 49%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item {
        font-size: var(--font-sm);
        line-height: 1.25;
        font-weight: 700;
        margin-bottom: 16px;
        align-self: flex-start;

        &.variation {
          color: var(--emphasis);
        }
      }

      .graph-wrapper {
        .graph {
        }

        .front {
        }
      }
    }

    .divider {
      width: 2px;
      height: 100%;
      background-color: var(--foreground);
      margin: 0 11px;
    }

    &.today {
      flex-direction: column;

      .title {
        width: 100%;
        font-size: var(--font-sm);
        line-height: 1.25;
        font-weight: bold;
        text-align: center;
        font-family: var(--font-title);
        margin-bottom: 16px;
      }

      .estatisticas-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
          font-size: var(--font-sm);
          line-height: 1.25;
          font-weight: 700;
          margin-bottom: 16px;

          span {
            color: var(--emphasis);
          }
        }
      }
    }
  }

  .stat-card.accuracy {
    height: fit-content;
    overflow-y: clip;
    margin-bottom: 20px;

    .card-item-value {
      color: var(--emphasis);
    }
  }
}

.session-statistics-wrapper {
  .title {
    font-size: var(--font-base);
    line-height: 1.25;
    font-weight: bold;
    text-align: center;
    margin-bottom: 19px;
  }

  .subtitle {
    font-family: var(--font-rounded);
    font-size: var(--font-lg);
    line-height: 1.25;
    font-weight: 600;
    text-align: center;
    margin-bottom: 19px;
  }

  .stat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow-y: clip;
    margin-bottom: 19px;

    .title {
      span {
        color: var(--emphasis);
      }
    }

    .graph-wrapper {
      margin-bottom: 17px;

      .graph {
        width: 266px;
        height: 266px;
      }

      .front {
        width: 221px;
        height: 221px;
        margin: 22px;

        .title {
          font-size: var(--font-xl);
          margin-bottom: 0;
        }

        .subtitle {
          font-size: var(--font-base);
          margin-bottom: 0;
        }
      }
    }
  }

  .btn-switch.save-exit {
    width: 103px;
    font-family: var(--font-title);
    color: var(--foreground);
    align-self: center;
  }
}
