.page-filter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .quantity-selected {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    font-family: var(--font-title);
    color: var(--emphasis);
    margin-bottom: 24px;
    text-align: center;
  }

  .title {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 1.25;
    font-family: var(--font-rounded);
    margin-bottom: 17px;
  }

  .subtitle {
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    font-family: var(--font-title);
    margin-bottom: 29px;
  }

  .filter-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .select-wrapper {
      display: grid;
      gap: 8px;
      margin-bottom: 34px;

      &.grid-2 {
        grid-template-columns: repeat(2, 1fr);

        .btn-filter {
          height: 136px;
          gap: 28px;
        }
      }

      &.grid-3 {
        grid-template-columns: repeat(3, 1fr);
      } 
    }

    .boolean-wrapper {
      display: flex;
      flex-direction: column;
      gap: 13px;
      justify-content: center;
      align-items: center;
      margin-bottom: 34px;
    }
  }
}

.custom-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 800;
  margin-bottom: 20px;

  input[type="checkbox"],input[type="radio"] {
    display: none;
  }

  .checkmark {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 36px;
    border: 2px solid var(--foreground-variation);
    display: inline-block;
    position: relative;
    background: var(--background-variation);
    transition: border-color 0.2s;

    &.checked {
      border-color: var(--emphasis);
      background: var(--emphasis);

      &::after {
        display: block;
      }
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #191919; /* Cor do fundo interno, igual ao fundo do painel */
    }
  }

  .label {
    font-family: var(--font-text);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
  }

  .expand-icon {
    display: flex;
    gap: 10px;

    &.closed {
      svg {
        path {
          fill: var(--foreground);
        }
      }
    }

    &.open {
      svg {
        transform: rotate(180deg);
        path {
          fill: var(--emphasis);
        }
      }
    }
  }

  & + .children {
    margin-left: 60px;

    &.closed {
      display: none;
    }
  }

  .prova-label {
    .institution {
      font-size: var(--font-base);
      line-height: 1.25;
      font-weight: 700;
    }

    .year {
      font-size: var(--font-xs);
      line-height: 1.25;
      font-weight: 600;
      color: var(--emphasis);
    }
  }
}
