.footer-wrapper {
  flex-grow: 0; /* previne de dar o grow (só o content da grow) */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 27px;
  background-color: var(--background-variation);
  filter: var(--filter-shadow);

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 10px;
      letter-spacing: 0.5px;
    }

    .active {
      color: var(--footer-link-active);

      path {
        stroke: var(--footer-link-active);
      }
    }

    .inactive {
      color: var(--footer-link-inactive);

      path {
        stroke: var(--footer-link-inactive);
      }
    }
  }
}

.flashcard-footer {
  flex-grow: 0; /* previne de dar o grow (só o content da grow) */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--background);
  filter: var(--filter-shadow);

  &:has(.btn) {
    padding: 20px 18px 57px;
  }

  &:has(.respostas-wrapper) {
    padding: 17px 18px;
  }

  .btn {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    color: #fff;
    background-color: #7d93a4;
    font-family: var(--font-rounded);
    font-size: 15px;
    font-weight: 700;
  }

  .respostas-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .resposta {
      height: 91px;
      width: 91px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 5px;
      background-color: var(--background-variation);

      .title {
        font-size: 10px;
        line-height: 1.25;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.dark-theme {
  // @media (prefers-color-scheme: dark) {
  .flashcard-footer {
    background-color: var(--background-variation);

    .respostas-wrapper {
      .resposta {
        background-color: var(--background);
      }
    }
  }
}
