@use "variables";
@use "layout";
@use "view-transition";
@use "form";
@use "input";
@use "overlay";
@use "button";
@use "filter";
@use "structure";
@use "footer";
@use "header";
@use "list";
@use "icon";
@use "pdf";
@use "flashcard";
@use "questao";

body {
  background: var(--background);
  color: var(--foreground);
  // impedir copia
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
}