.drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  &.open {
    &.overlay {
      background-color: color-mix(in oklab, #000 25%, transparent);
    }

    visibility: visible;
  }

  &.closed {
    visibility: hidden;
  }

  .close-area {
    width: 100%;
    height: 100%;
  }

  .drawer-bottom {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: var(--background);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow-y: auto;

    &.open {
      transform: translateY(0);
    }

    &.closed {
      transform: translateY(100%);
    }

    &.semi-full {
      height: 70vh;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.25rem;
    }

    .title {
      font-size: 1.5rem;
      line-height: calc(2 / 1.5);
      letter-spacing: 0.5px;
      font-weight: 700;
      font-family: var(--font-title);
    }

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .clear {
      position: absolute;
      top: 35px;
      right: 50px;
      font-size: 14px;
      line-height: 1.25;
      font-weight: 800;
      color: var(--emphasis);
    }

    .link {
      display: flex;
      align-items: center;
      gap: 16px;

      p {
        height: 33px;
        font-size: 1rem;
        line-height: 33px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .filter-items {
      flex: 1;
      overflow-y: auto;
      margin-top: 30px;
    }
  }

  .drawer-under-header {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 81px;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    justify-content: start;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    box-shadow: 0px 6px 5px 0px color-mix(in oklab, var(--foreground) 10%, transparent);
    -webkit-box-shadow: 0px 6px 5px 0px color-mix(in oklab, var(--foreground) 10%, transparent);
    -moz-box-shadow: 0px 6px 5px 0px color-mix(in oklab, var(--foreground) 10%, transparent);

    &.open {
      transform: translateY(0);
      opacity: 1;
    }

    &.closed {
      transform: translateY(-50%);
      opacity: 0;
    }
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &.overlay {
    background-color: color-mix(in oklab, #000 15%, transparent);
  }

  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 150px;
    height: 100px;
    border-radius: 20px;
    gap: 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .spinner {
    g {
      transform-origin: center;
      animation: rotacao 2s linear infinite;
      circle {
        stroke-linecap: round;
        animation: animacao 1.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes rotacao {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animacao {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

@media (prefers-color-scheme: dark) {
  .drawer-wrapper {
    .drawer-bottom {
      background-color: var(--background-variation);
    }
  }

  .popup-wrapper {
    .popup {
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    }

    .spinner {
      stroke: #fff;
    }
  }
}
