.questao-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .area-tema {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--emphasis);
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
  }

  .ano {
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    text-align: center;
    margin-bottom: 22px;
  }

  .enunciado {
    font-family: var(--font-text);
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
  }

  .imagem {
    max-height: 200px;
    width: auto;
    margin-bottom: 21px;
  }

  .alternativas-wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;

    .multiplo {
      width: 100%;
      padding: 10px;
      background: var(--background-variation);
      border-radius: 6px;
      display: flex;
      gap: 15px;

      &.ativo {
        -webkit-box-shadow: inset 0px 0px 0px 1px var(--foreground);
        -moz-box-shadow: inset 0px 0px 0px 1px var(--foreground);
        box-shadow: inset 0px 0px 0px 1px var(--foreground);
      }

      &.correto {
        background-color: #00cc77;

        .letra {
          background-color: #ffffff75;
        }

        .conteudo {
          color: #fff;
          font-weight: 700;
        }
      }

      &.incorreto {
        background-color: #ff1ac6;

        .letra {
          background-color: #ffffff75;
        }

        .conteudo {
          color: #fff;
          font-weight: 700;
        }
      }

      .letra {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        background-color: var(--background);
        border-radius: 10px;
      }

      .conteudo {
        font-size: 14px;
        line-height: 1.25;
        font-weight: 500;
        text-align: start;
        width: 80%;
        align-self: center;
        font-family: var(--font-text);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}

.questoes-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: var(--background);
  filter: drop-shadow(0px 0px 2px color-mix(in oklab, var(--foreground) 20%, transparent));
  padding: 20px 22px 34px;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .enviar-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .enviar {
        width: 216px;
        height: 48px;
        font-size: 15px;
        line-height: 1.25;
        font-weight: 800;
        background-color: var(--emphasis);
        color: var(--background);
        border-radius: 6px;
        cursor: pointer;

        &:disabled {
          background-color: color-mix(in srgb, var(--emphasis) 20%, transparent);
          cursor: not-allowed;
        }
      }
    }

    .navigation {
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--emphasis);
      border-radius: 100%;

      &:disabled {
        background-color: color-mix(in srgb, var(--emphasis) 20%, transparent);
        cursor: not-allowed;
      }
    }
  }

  .summary {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
  }
}

.questoes-drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .gabarito {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .alternativa {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--emphasis);
    margin-bottom: 10px;
  }

  .imagem {
    max-height: 200px;
    width: auto;
    margin-bottom: 21px;
    align-self: center;
  }

  .comentario,
  .referencia,
  .titulo-referencia {
    font-size: 15px;
    line-height: 1.25;
    font-weight: 400;
    text-align: start;
    margin-bottom: 16px;
    font-family: var(--font-text);
  }

  .titulo-referencia {
    font-weight: 700;
    margin-bottom: 0px;
  }

  .referencia {
    color: var(--emphasis);
    margin-bottom: 0px;
  }
}

.questoes-alerta {
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: #fff;

  &.correto {
    background-color: #00cc77;
  }

  &.incorreto {
    background-color: #ff1ac6;
  }
}
